@media screen and (max-width: 481px) {
  .container {
    min-width: 320px;
  }

  .page-nav {
    display: none;
  }

  .contact-phone-number {
    display: none;
  }

  .header-container .modal-btn {
    display: none;
  }
  .menu-hamburger {
    stroke: var(--secondary-text-color-theme-dark);
    width: 40px;
    height: 40px;
  }

  .hero-soc {
    display: none;
  }

  .list-about {
    display: none;
  }
  .advantage-list {
    min-width: 320px;
    height: 100%;
  }

  .advantage-item {
    max-width: 120px;
    height: 100%;
  }
}
