:root {
  --accent-color: #ff6c00;
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --primary-text-color-theme-light: #303030;
  --secondary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-light: #555555;
  --transition-duration-function: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  line-height: 1.33;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.02em;
  margin: auto;
  padding: auto;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ====================COMPONENTS============= */
.modal-btn {
  min-width: 160px;
  height: 40px;
  font-style: inherit;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--secondary-text-color-theme-dark);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  transition: var(--transition-duration-function);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-dark);
}
.media-list-link {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-light);
  transform: rotate(-90deg);
}

.media-list-link:hover,
.media-list-link:focus {
  color: var(--accent-color);
}
.suptitle {
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  color: rgba(157, 164, 189, 0.6);
  align-items: center;
  gap: 20px;
}

.suptitle::before {
  content: '';
  width: 60px;
  height: 1px;
  background: currentColor;
}

.suptitle-theme-light {
  color: var(--primary-text-color-theme-light);
}

.section-description {
  font-weight: 400;
  line-height: 1.67;
  color: var(--secondary-text-color-theme-light);
}
.subtitle-secondary {
  font-family: var(--secondary-font);

  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--primary-text-color-theme-light);
}
.subtitle-secondary-theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

/* ====================/COMPONENTS============= */

/* ====================HEADER============= */
.header-container {
  display: flex;
  align-items: center;
}
.page-header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  margin-right: 130px;
}

.menu {
  display: flex;
  gap: 30px;
}

.page-nav {
  display: flex;
  align-items: center;
}
.page-header > .container {
  display: flex;
}

.menu-link {
  font-size: 12px;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color-theme-dark);
  transition: var(--transition-duration-function);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.contact-phone-number {
  font-size: 12px;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color-theme-dark);
  margin-left: auto;
  margin-right: 30px;
  transition: var(--transition-duration-function);
}
.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}
.command-soc-icon {
  fill: var(--secondary-text-color-theme-dark);
}
/* ====================/HEADER============= */

/* ====================HERO============= */
.main-title {
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 20px;
}

.hero-soc {
  display: flex;
  align-items: flex-end;
  width: 100px;
  padding-left: 27px;
  padding-bottom: 40px;
}

.hero-soc > .media-list {
  display: flex;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  align-items: center;
  gap: 40px;
}

.media-list-link {
  transition: var(--transition-duration-function);
}
.media-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.hero-right-side > .suptitle {
  margin-bottom: 20px;
}

.hero-right-side {
  padding: 272px 100px 208px;
  background-color: #393737;
  flex-grow: 1;

  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url('../img/bg/Sliderimg1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-description {
  color: var(--primary-text-color-theme-dark);
  max-width: 360px;
}
.hero-left-side {
  display: flex;
  background-color: #fff;
}

/* ====================/HERO============= */
/* ====================ABOUT============= */
.main-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 42px;
}

.about-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-tittle {
  margin-bottom: 20px;
}

.about-pre-tittle {
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.about-after-title {
  margin-bottom: 20px;
}

.list-about {
  display: flex;
  gap: 30px;
}
.about-container {
  display: flex;
  gap: 30px;
}

.about-barber {
  max-width: 470px;
}
/* ====================/ABOUT============= */
/* ====================SERVICES============= */
.list-prices {
  margin-bottom: 44px;
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}

.prices-section > .list-prices:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.prices-section > .list-prices:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.services-title {
  margin-bottom: 20px;
}

.services-pre-title {
  margin-bottom: 44px;
}
.about-prices {
  font-weight: 400;
  line-height: 1.67;
  color: var(--primary-text-color-theme-dark);
}

.services-container {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #111319;
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url(../img/prices-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.prices-section {
  display: flex;
  justify-content: space-between;
}

.prices-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
  align-items: baseline;
  gap: 12px;
}

.prices-item + .prices-item {
  margin-top: 20px;
}

.prices-item::before {
  content: '';
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.about-prices:first-child {
  order: -1;
}
.btn-prices {
  display: block;
  margin: 0 auto;
}

.btn-main {
  color: var(--primary-text-color-theme-light);
}
/* ====================/SERVICES============= */
/* ====================ADVANTAGES============= */

.advantages-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-container {
  display: flex;
  gap: 130px;
  padding-left: 85px;
}

.advantage-wrap {
  min-width: 500px;
  padding-right: 101px;
  padding-top: 9px;
}

.advantage-title {
  margin-bottom: 20px;
}

.advantage-pre-title {
  margin-bottom: 20px;
  font-size: 42px;
}

.advantage-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.advantage-item {
  background-color: #f7f7f7;
  width: 170px;
  height: 133px;
  padding: 20px 24px;
}

.advantage-item > span {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--primary-text-color-theme-light);
}

.advantage-item > span::after {
  content: '+';
  font-size: 16px;
  line-height: 1.38;
  text-align: top;
  vertical-align: top;
  color: var(--accent-color);
}

.advantage-item:nth-child(odd) {
  margin-right: 30px;
}

.advantage-item:nth-child(even) {
  margin-top: 30px;
}

.advantage-text {
  text-align: center;
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-text-color-theme-light);
}

/* ====================/ADVANTAGES============= */
/* ====================EMPLOYEES============= */

.employees {
  font-weight: 400;
  line-height: 1.39;
  text-align: center;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 8px;
}

.about-employees {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.employees-section {
  background: #f7f7f7;
  padding-top: 120px;
  padding-bottom: 120px;
}

.employees-text {
  margin-bottom: 20px;
}

.employees-title {
  margin-bottom: 44px;
}

.barbers-list {
  display: flex;
  gap: 30px;
}

.barbers-wrap {
  padding-top: 30px;
}

.barber-item {
  width: calc((100% - 60px) / 3);
}

.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-soc-item {
  width: 44px;
  height: 44px;
}

.barbers-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-text-color-theme-dark);
  align-items: center;
  transition: var(--transition-duration-function);
}

.barbers-soc-icon {
  fill: var(--primary-text-color-theme-light);
}

.barbers-soc-icon:is(:hover, :focus) {
  fill: var(--accent-color);
  transition: var(--transition-duration-function);
}
/* ====================/EMPLOYEES============= */
/* ====================GALLERY============= */

.gallery-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.gallery-title {
  margin-bottom: 44px;
  color: var(--primary-text-color-theme-light);
}

.list-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item-gallery {
  width: calc((100% - 90px) / 4);
}
/* ====================/GALLERY============= */
/* ====================CONTACT============= */

.address {
  font-style: normal;
  font-weight: 700;
  line-height: 1.67;
  color: var(--primary-text-color-theme-dark);
}

.contacts {
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
  color: var(--primary-text-color-theme-dark);
}

.contacts-list {
  margin-bottom: 70px;
}

.contact-wrap {
  max-width: 1600px;
  margin: 0 auto;
  background-image: url(../img/contacts-bg.png);
  background-color: #191c26;
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% + 15px) 100%;
}

.contact-wrap > .container {
  display: flex;
}

.online-section {
  padding-top: 130px;
  width: calc(50% + 15px);
}

.online-title {
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  padding-bottom: 44px;
  color: var(--secondary-text-color-theme-dark);
}

.contact-section {
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 100px;
  width: calc(50% - 15px);
}

.contact-title {
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
  color: var(--secondary-text-color-theme-dark);
}

/* Booking Contacts */

.booking-contacts {
  background-color: #191c26;
  display: flex;
  justify-content: space-between;
  height: 634px;
  background-repeat: no-repeat;
  background-position: right;
}

.booking-contacts .booking {
  padding-top: 130px;
  padding-left: 216px;
  padding-right: 30px;
}

.booking-contacts .contacts {
  width: 50%;
  background-image: url(../img/contacts-bg.png);
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
}

.booking-form input {
  padding-bottom: 8px;
}

.booking-form input,
.booking-form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: rgba(157, 164, 189, 0.4);
}

.booking-form input:focus,
.booking-form textarea:focus {
  border-bottom: 1px solid #fff;
  outline: transparent;
  color: #fff;
}

.booking-form input::placeholder,
.booking-form textarea::placeholder {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
}

.booking-form input:focus::placeholder,
.booking-form textarea:focus::placeholder {
  color: #fff;
}

.booking-form input {
  width: 270px;
  height: 24px;
  margin-bottom: 44px;
}

.booking-form .textarea-wrapper {
  width: 100%;
  margin-bottom: 44px;
}

.booking-form textarea {
  width: 570px;
  height: 76px;
  resize: none;
  display: block;
}

.booking-form .button {
  display: inline-block;
  color: var(--button-first-color);
}

.booking-form .name-input + input {
  margin-left: 30px;
}
/* ====================/CONTACT============= */
/* ====================FOOTER============= */
.footer-text {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--primary-text-color-theme-dark);
}

.footer-section {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.media-list-item {
  transition: var(--transition-duration-function);
}

.footer-container.media-list {
  display: block;
}
/* ====================/FOOTER============= */
/* ====================MODAL============= */

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 576px;
  padding: 24px;
  background-color: #fcfcfc;
  transition: var(--transition-duration-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  transition: var(--transition-duration-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-color);
}

.modal-close-btn-icon {
  transition: var(--transition-duration-function);
}

.modal-close-btn-icon:hover,
.modal-close-btn-icon:focus {
  fill: var(--secondary-text-color-theme-dark);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--secondary-text-color-theme-dark);
}
/* ====================/MODAL============= */
/*====================MODAL INPUT===========*/
.input-desc {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2e2f42;
  margin-top: 24px;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition: var(--transition-duration-function);
}

.modal-form-input:focus,
.modal-form-message:focus,
.footer-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  color: black;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--transition-duration-function);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
  margin-bottom: 24px;
}

.modal-form-check-desc::before {
  display: block;
  content: '';
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--accent-color);
  border-radius: 2px;
  margin-right: 10px;
}

.modal-form-submit {
  cursor: pointer;
  transition: var(--transition-duration-function);
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  display: block;
  transition: var(--transition-duration-function);
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--accent-color);
  background-image: url(../img/vector.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-form-submit {
  color: var(--secondary-text-color-theme-dark);
  background: var(--secondary-text-color-theme-light);
  padding: 16px 32px;
  border: none;
  margin: auto;
  width: 169px;
  border-radius: 4px;
  transition: var(--transition-duration-function);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.policy-privacy {
  text-decoration: underline;
  color: var(--accent-color);
}

.flip-scale-up-ver {
  animation: flip-scale-up-ver 0.5s linear both;
}
/*====================/MODAL INPUT===========*/
/*====================/BTN SCROLL===========*/

.scroll-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 3px 15px;
  border: none;
  opacity: 0.5;
  border-radius: 25px;
  transition: opacity 0.3s ease-in-out;

  color: var(--secondary-text-color-theme-light);
}

.scroll-button.show {
  display: block;
}

.scroll-button:hover,
.scroll-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-dark);
}

.scroll-button:hover {
  opacity: 1;
}
